Out of Office Approver Check/Check OOO PI Approval.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"dynamicssmbsaas_Connection_Name":{"defaultValue":"dynamicssmbsaas","type":"String","metadata":{"description":"Name of the connection."}},"office365_Connection_Name":{"defaultValue":"office365","type":"String","metadata":{"description":"Name of the connection."}},"approvals_Connection_Name":{"defaultValue":"approvals","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('dynamicssmbsaas_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_purchase_document_approval_is_requested":{"metadata":{"operationMetadataId":"24a6a041-f44f-4535-9efb-0d9d7f78f991","flowSystemMetadata":{"swaggerOperationId":"CreatePurchaseDocumentApprovalWebHookV3"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicssmbsaas']['connectionId']"}},"body":{"NotificationUrl":"@listCallbackUrl()","HeaderFirstConditionField":"documentType","HeaderFirstConditionFieldValue":"Invoice","HeaderSecondConditionField":"status","HeaderSecondConditionFieldValue":"Open","HeaderThirdConditionField":"amountIncludingVat","HeaderThirdConditionFieldValue":">0"},"path":"/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent('SANDBOX'))}/companies/@{encodeURIComponent(encodeURIComponent('2ccf1a8b-15ab-ec11-bb8a-000d3a2a8318'))}/webhook/v1/purchasedocumentapproval","authentication":"@parameters('$authentication')"}}},"actions":{"Get_record":{"runAfter":{},"metadata":{"operationMetadataId":"602365fe-ab00-4f00-aa3e-c47f4374c74f","flowSystemMetadata":{"swaggerOperationId":"GetItemV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicssmbsaas']['connectionId']"}},"method":"get","path":"/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent('SANDBOX'))}/companies/@{encodeURIComponent(encodeURIComponent('2ccf1a8b-15ab-ec11-bb8a-000d3a2a8318'))}/datasets/@{encodeURIComponent(encodeURIComponent('workflowEndpoints'))}/tables/@{encodeURIComponent(encodeURIComponent('workflowPurchaseDocuments'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Row Id']))}","authentication":"@parameters('$authentication')"}},"Find_Direct_Approver":{"runAfter":{"Length_of_Requested_User_Email_Address":["Succeeded"]},"metadata":{"operationMetadataId":"8a0f26f0-d897-432a-9af3-1a66f980c765","flowSystemMetadata":{"swaggerOperationId":"GetItemsV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicssmbsaas']['connectionId']"}},"method":"get","path":"/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent('SANDBOX'))}/companies/@{encodeURIComponent(encodeURIComponent('2ccf1a8b-15ab-ec11-bb8a-000d3a2a8318'))}/datasets/@{encodeURIComponent(encodeURIComponent('ja/jagrp/v2.0'))}/tables/@{encodeURIComponent(encodeURIComponent('approvalUserSetups'))}/items","queries":{"$filter":"userID eq '@{substring(triggerBody()?['Requested By User Email'], 0, sub(outputs('Length_of_Requested_User_Email_Address'), int(length(variables('Email_Domain')))))}'","$top":1},"authentication":"@parameters('$authentication')"},"description":"Grab the USER ID who is the direct approver of the requester. Expression in use here: substring(triggerBody()?['Requested By User Email'], 0, sub(outputs('Length_of_Requested_User_Email_Address'), int(length(variables('Email_Domain')))))"},"Length_of_Requested_User_Email_Address":{"runAfter":{"Email":["Succeeded"]},"metadata":{"operationMetadataId":"2920a3c9-4b44-49e9-8262-e8e432d083a9"},"type":"Compose","inputs":"@int(length(triggerBody()?['Requested By User Email']))","description":"The approval request has the email but the approval user setup table uses the USER ID. We need the length of the email address to just get the USER ID dynamically. Expression in use here: int(length(triggerBody()?['Requested By User Email']))"},"Get_1st_approver_value":{"runAfter":{"Find_Direct_Approver":["Succeeded"]},"metadata":{"operationMetadataId":"b1547eef-558a-4359-bc28-52a87b9e3e51"},"type":"Compose","inputs":"@first(body('Find_Direct_Approver')?['value'])","description":"Expression in use here: first(body('Find_Direct_Approver')?['value'])"},"Get_mail_tips_for_a_mailbox_(V2)":{"runAfter":{"Get_1st_approver_value":["Succeeded"]},"metadata":{"operationMetadataId":"74e4e554-c5b2-4bfd-8a30-ee37ed8ec61f","flowSystemMetadata":{"swaggerOperationId":"GetMailTips_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"MailTipsOptions":"automaticReplies, deliveryRestriction, externalMemberCount, mailboxFullStatus, maxMessageSize, moderationStatus, totalMemberCount","EmailAddresses":["@{concat(outputs('Get_1st_approver_value')?['approverID'],variables('Email_Domain'))}"]},"path":"/codeless/v1.0/me/getMailTips","authentication":"@parameters('$authentication')"},"description":"This is where the mailbox of the approver is checked for the out of office message. Expression in use here: concat(outputs('Get_1st_approver_value')?['approverID'],variables('Email_Domain'))"},"Condition":{"actions":{"Find_Substitute_Approver":{"runAfter":{},"metadata":{"operationMetadataId":"321e8a06-d57e-45a7-9e5e-622bb9ecb7c3","flowSystemMetadata":{"swaggerOperationId":"GetItemsV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicssmbsaas']['connectionId']"}},"method":"get","path":"/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent('SANDBOX'))}/companies/@{encodeURIComponent(encodeURIComponent('2ccf1a8b-15ab-ec11-bb8a-000d3a2a8318'))}/datasets/@{encodeURIComponent(encodeURIComponent('ja/jagrp/v2.0'))}/tables/@{encodeURIComponent(encodeURIComponent('approvalUserSetups'))}/items","queries":{"$filter":"userID eq @{concat('''',outputs('Get_1st_approver_value')?['approverID'],'''')}","$top":1},"authentication":"@parameters('$authentication')"},"description":"If the out of office is set then go and get the substitute of the approver from the approval user setup of BC. Expression in use here: concat('''',outputs('Get_1st_approver_value')?['approverID'],'''')"},"Start_and_wait_for_an_approval_-_with_substitute":{"runAfter":{"Substitute_Approver":["Succeeded"]},"metadata":{"operationMetadataId":"e87d72d0-fb77-4729-8eec-6d928d7f0965","flowSystemMetadata":{"swaggerOperationId":"StartAndWaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"notificationUrl":"@{listCallbackUrl()}","title":"Purchase Invoice Approval Request @{body('Get_record')?['number']}","assignedTo":"@{concat(outputs('Substitute_Approver')?['substitute'],variables('Email_Domain'))};","enableNotifications":true,"enableReassignment":true},"path":"/types/@{encodeURIComponent('Basic')}/subscriptions","authentication":"@parameters('$authentication')"},"description":"Expression in use here - concat(outputs('Substitute_Approver')?['substitute'],variables('Email_Domain'))"},"Substitute_Approver":{"runAfter":{"Find_Substitute_Approver":["Succeeded"]},"metadata":{"operationMetadataId":"6d9557a4-69fa-4b0e-88a7-b2aea617bebb"},"type":"Compose","inputs":"@first(body('Find_Substitute_Approver')?['value'])","description":"To stop an apply to each grab the first record that is passed taken from BC. This is optional but I like to prevent loops where possible. Expression in use here: first(body('Find_Substitute_Approver')?['value'])"},"Condition_2":{"actions":{"Approve_Request":{"runAfter":{},"metadata":{"operationMetadataId":"2a7b2a63-13c8-489d-9692-c7880c57f428","flowSystemMetadata":{"swaggerOperationId":"ExecuteProcedureV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicssmbsaas']['connectionId']"}},"method":"post","body":{"workflowStepInstanceId":"@triggerBody()?['Workflow Step Id']"},"path":"/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent('SANDBOX'))}/companies/@{encodeURIComponent(encodeURIComponent('2ccf1a8b-15ab-ec11-bb8a-000d3a2a8318'))}/datasets/@{encodeURIComponent(encodeURIComponent('workflowEndpoints'))}/procedures/@{encodeURIComponent(encodeURIComponent('WorkflowActionResponse_Approve'))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval_-_with_substitute":["Succeeded"]},"else":{"actions":{"Reject_Request":{"runAfter":{},"metadata":{"operationMetadataId":"c056dfe3-68c8-4e36-bc68-c98c8c711ae5","flowSystemMetadata":{"swaggerOperationId":"ExecuteProcedureV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicssmbsaas']['connectionId']"}},"method":"post","body":{"workflowStepInstanceId":"@triggerBody()?['Workflow Step Id']"},"path":"/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent('SANDBOX'))}/companies/@{encodeURIComponent(encodeURIComponent('2ccf1a8b-15ab-ec11-bb8a-000d3a2a8318'))}/datasets/@{encodeURIComponent(encodeURIComponent('workflowEndpoints'))}/procedures/@{encodeURIComponent(encodeURIComponent('WorkflowActionResponse_Reject'))}","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@body('Start_and_wait_for_an_approval_-_with_substitute')?['outcome']","Approve"]},"metadata":{"operationMetadataId":"712fbcad-cdf2-4e73-80bb-5613c4e2c1ba"},"type":"If"}},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{"Start_and_wait_for_an_approval_-_with_in_office_approver":{"runAfter":{},"metadata":{"operationMetadataId":"a294f4e7-2c36-48ea-9220-5391962497c1","flowSystemMetadata":{"swaggerOperationId":"StartAndWaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"notificationUrl":"@{listCallbackUrl()}","title":"Purchase Invoice Approval Request @{body('Get_record')?['number']}","assignedTo":"@{concat(outputs('Get_1st_approver_value')?['approverID'],variables('Email_Domain'))};","enableNotifications":true,"enableReassignment":true},"path":"/types/@{encodeURIComponent('Basic')}/subscriptions","authentication":"@parameters('$authentication')"},"description":"Expression in use here: concat(outputs('Get_1st_approver_value')?['approverID'],variables('Email_Domain'))"},"Condition_3":{"actions":{"Approve_-_Original_Approver":{"runAfter":{},"metadata":{"operationMetadataId":"39f77e75-32d8-4c63-8131-a1de0fdec13b","flowSystemMetadata":{"swaggerOperationId":"ExecuteProcedureV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicssmbsaas']['connectionId']"}},"method":"post","body":{"workflowStepInstanceId":"@triggerBody()?['Workflow Step Id']"},"path":"/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent('SANDBOX'))}/companies/@{encodeURIComponent(encodeURIComponent('2ccf1a8b-15ab-ec11-bb8a-000d3a2a8318'))}/datasets/@{encodeURIComponent(encodeURIComponent('workflowEndpoints'))}/procedures/@{encodeURIComponent(encodeURIComponent('WorkflowActionResponse_Approve'))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval_-_with_in_office_approver":["Succeeded"]},"else":{"actions":{"Reject_-_Original_Approver":{"runAfter":{},"metadata":{"operationMetadataId":"bbd1e97f-56c8-4d90-a500-39200dbe0aea","flowSystemMetadata":{"swaggerOperationId":"ExecuteProcedureV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicssmbsaas']['connectionId']"}},"method":"post","body":{"workflowStepInstanceId":"@triggerBody()?['Workflow Step Id']"},"path":"/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent('SANDBOX'))}/companies/@{encodeURIComponent(encodeURIComponent('2ccf1a8b-15ab-ec11-bb8a-000d3a2a8318'))}/datasets/@{encodeURIComponent(encodeURIComponent('workflowEndpoints'))}/procedures/@{encodeURIComponent(encodeURIComponent('WorkflowActionResponse_Reject'))}","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@body('Start_and_wait_for_an_approval_-_with_in_office_approver')?['outcome']","Approve"]},"metadata":{"operationMetadataId":"96763752-93b2-458f-a5b1-b1733cc5eaeb"},"type":"If"}}},"expression":{"not":{"equals":["@outputs('Compose')?[0]?['automaticReplies']?['message']",""]}},"metadata":{"operationMetadataId":"85ff648d-3613-47d1-bcee-87023e3d587c"},"type":"If","description":"Check if the out of office message has a value which is not equal to blank. Expression in use here: outputs('Compose')?[0]?['automaticReplies']?['message']"},"Compose":{"runAfter":{"Get_mail_tips_for_a_mailbox_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"06bfc990-485e-479d-b27b-17bb48515492"},"type":"Compose","inputs":"@body('Get_mail_tips_for_a_mailbox_(V2)')?['value']","description":"Add it to a compose to stop an apply to each loop being created"},"Email":{"runAfter":{"Get_record":["Succeeded"]},"metadata":{"operationMetadataId":"16b709c5-8ac8-44cc-b445-4d266fed9be7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email_Domain","type":"string","value":"@@xpeditiondemo1.onmicrosoft.com"}]},"description":"Add your email domain here. It is needed for create a full email address later with the USER ID of BC"}},"outputs":{},"description":"When a purchase invoice is created in Microsoft Dynamics 365 Business Central, send an approval request. On approval, allows additional actions to be taken on that purchasing document."},"parameters":{"$connections":{"value":{"dynamicssmbsaas":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicssmbsaas')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('dynamicssmbsaas_Connection_Name'))]","connectionName":"[parameters('dynamicssmbsaas_Connection_Name')]"},"office365":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","connectionName":"[parameters('office365_Connection_Name')]"},"approvals":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","connectionName":"[parameters('approvals_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}},"retryPolicy":{"type":"Exponential","interval":"PT7S","count":8,"minimumInterval":"PT5S","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-F7540A6018B64365B4085D3A5D760785"}},"integrationAccount":{"name":"aa0bc99fc7dc4bafbd9ff4362c21a116-uksouth","id":"subscriptions/c17c41e6-fd14-42bf-8563-5171aa5a255e/resourceGroups/aa0bc99fc7dc4bafbd9ff4362c21a116-ia/providers/Microsoft.Logic/integrationAccounts/aa0bc99fc7dc4bafbd9ff4362c21a116-uksouth","type":"Microsoft.Logic/integrationAccounts"}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('dynamicssmbsaas_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicssmbsaas')]"},"displayName":"[parameters('dynamicssmbsaas_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('office365_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"},"displayName":"[parameters('office365_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('approvals_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]"},"displayName":"[parameters('approvals_Connection_Name')]"}}]}